html { height: 100%; }

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
  font-size: 120%;
  font-weight: bold;
}

p {
  font-size: 100%;
}

.responsiveCanvas {
  width: auto;
  height: auto;
  max-width: 100%; 
  max-height: 95%;
}

#vitesContainer {
  font-style: italic;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.canvasContainer {
  width: 74.75%;
  height: 100%;
}

.textContainer {
  width: 24.25%;
}

@media only screen and (max-width: 900px) {
    .textContainer {
	font-size: 85%; 
	}
	
    p {font-size: 85%;}
    h1 {font-size: 100%;}
}

@media only screen and (max-width: 750px) {
    .textContainer {
	font-size: 75%; 
	}
    p {font-size: 75%;}
    h1 {font-size: 85%;}
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .textContainer, .canvasContainer {
	width: 100%; 
	height: 50%;
	}
}